header {
      color:white ;
      background-color: lightskyblue;
}


#scrittoda {
    color: slategray;
}

#thebooleaner {
    color: dodgerblue;
}


#data {
    color: slategray;
}


#evidenziato {
    background-color: yellow;
}