header {
      color:white ;
      background-color: lightskyblue;
}


#scrittoda {
    color: slategray;
}

#thebooleaner {
    color: dodgerblue;
}


#data {
    color: slategray;
}


#evidenziato {
    background-color: yellow;
}

#testata {
    color: white;
    background-color: lightskyblue;
}

.scuro {
    background-color: rgb(201, 204, 207);
}


.chiaro {
    background-color: whitesmoke;
}