header {
     width: 100%;
     padding: 15px 15px;
     background-color: rgb(163, 220, 240);
    /* background-image: url(../img/pattern.png);*/
      }

body {
    margin: 0;
}

main {
    margin: 8px;
}
 
#scrittoda, #date {
    color:slategray;
}

#date {
    margin-top: -20px;
    margin-bottom: 40px;

}

.titolo {
    width: 300px;
}


#thebooleaner {
    color: dodgerblue;
}


#data {
    color: slategray;
}

.evidenziato {
    background-color: yellow;
}

#testata {
    color: white;
    background-color: lightskyblue;
}

.recordscuro {
    background-color: rgb(201, 204, 207);
}


.recordchiaro {
    background-color: whitesmoke;

}


table {
    width: auto;
}

h5 {
    font-weight: 100;
    margin-top: auto;

}


li {
    margin-left: -25px;
}

.w25 {
    width: 25%;
}

.w50 {
    width: 50%;
}